{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "livereactload/babel-transform",
                "imports": [
                  "react"
                ]
              }
            ]
          }
        ]
      ]
    }
  }
}
