@import './dialog';
@import './header';
@import './library';
@import './timeline';
@import './view-bar';
@import './viewport';

.sv-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  .sv-app-content {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid black;
    background-color: @gray-dark;
    .sv-app-content-viewport {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .sv-app-content-viewport-wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        box-sizing: content-box;
        padding: @padding-largest;
        overflow: hidden;
        position: relative;
        .sv-viewport {
          box-shadow: @box-shadow-large;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .sv-app-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: @padding-base;
    .sv-app-project {
      width: 50%;
      padding: @padding-small;
      background-color: @gray;
      cursor: pointer;
      &:hover {
        background-color: @gray-light;
      }

      span {
        display: block;
        &:last-child {
          font-size: @font-size-small;
          color: @gray-lighter;
        }
      }
    }
  }
}
