.sv-button {
  padding: @padding-smaller @padding-small;
  border: none;
  border-radius: @border-radius-small;
  font-size: @font-size-small;
  line-height: 1rem;
  color: @gray-lightest;
  background: none;
  overflow: hidden;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover, &:focus, &:active {
    color: white;
    &:before {
      background-color: @shadow;
    }

    .sv-icon {
      fill: white;
    }
  }
  &:active:before {
    background-color: @shadow-dark;
  }

  > span {
    display: block;
    position: relative;
  }
  .sv-icon {
    fill: @gray-lightest;
  }
}
