@button-inner-shadow: inset 0 1px @gray-light, inset 0 -1px @black-faded;
@button-outer-shadow: 0 0 0 1px @black-faded-dark;
@button-shadow: @button-inner-shadow, @button-outer-shadow;

.pl-button {
  box-shadow: @button-shadow;
  background-color: @gray;
  &:focus {
    box-shadow: @button-inner-shadow, 0 0 0 1px black, 0 0 1px 1px @brand-primary;
    background-color: @gray;
  }
  &:hover {
    background-color: mix(@gray, @gray-dark);
  }
  &:active {
    box-shadow: @button-outer-shadow;
    background-color: @gray-dark;
  }

  .pl-icon {
    fill: @gray-lightest;
  }
}
