.sv-header {
  flex-shrink: 0;
  padding: @padding-base;
  box-shadow: 0 1px @shadow;
  background-color: @brand-primary;
  position: relative;
  .sv-header-content {
    text-align: right;
    .sv-button:not(:last-child) {
      margin-right: @padding-small;
    }
  }
}
