@import (reference) './library';
@import './control';

.pl-layer {
  display: flex;
  flex-wrap: wrap;
  margin: @padding-small 0;
  &.pl-selected:not(.pl-hidden) {
    .pl-layer-name {
      color: white;
    }
    .pl-layer-bar {
      background-color: @gray-lightest;
    }
  }
  &.pl-hidden .pl-layer-name span {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .pl-control {
    flex-shrink: 0;
    width: @library-width;
  }
  .pl-layer-track {
    flex-grow: 1;
    margin: 0 @padding-small;
    position: relative;
  }
  .pl-layer-bar {
    height: @padding-base;
    border-radius: @border-radius-small;
    box-shadow: 0 1px 1px @shadow-dark;
    background-color: @gray-light;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    .pl-layer-bar-handle {
      width: 5px;
      height: 100%;
      cursor: ew-resize;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      &:last-child {
        left: 100%;
      }
    }
  }
  .pl-layer-properties {
    width: 100%;
    margin-top: @padding-small;
    padding: @padding-small 0;
    border-top: 1px solid @shadow-dark;
    border-bottom: 1px solid @shadow-dark;
    background-color: @gray-dark;
    .pl-layer-property {
      display: flex;
      &:not(:last-child) {
        margin-bottom: @padding-smaller;
      }

      .pl-control span {
        color: @gray-light;
      }
      .pl-text-field {
        padding-left: @padding-smaller;
        box-shadow: 0 1px @gray-light;
        position: relative;
        &:before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: @brand-primary;
          position: absolute;
          top: 100%;
          left: 0;
          transform: scaleX(0);
          transform-origin: right bottom;
          transition: transform @transition-duration-medium ease-in;
        }
        &:focus {
          background-color: @shadow;
          &:before {
            transform: scaleX(1);
          }
        }
      }
      .pl-layer-property-keyframe {
        width: @font-size-smaller / 1.5;
        height: @font-size-smaller / 1.5;
        box-shadow: @box-shadow-small;
        background-color: @gray-lightest;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
