.sv-new-dialog {
  .sv-new-dialog-content {
    display: flex;
    align-items: center;
    margin-bottom: @padding-base;
    .sv-new-dialog-content-fields {
      margin-right: @padding-base;
      input:not(:last-child) {
        margin-bottom: @padding-smaller;
      }
    }
  }
}
