@import (reference) './library';
@import './control';

.pl-timeline-layer {
  display: flex;
  flex-wrap: wrap;
  margin: @padding-small 0;
  &.pl-selected:not(.pl-hidden) {
    .pl-timeline-layer-name {
      color: white;
    }
    .pl-timeline-layer-bar {
      background-color: @gray-lightest;
    }
  }
  &.pl-hidden .pl-timeline-layer-name span {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .pl-control {
    flex-shrink: 0;
    width: @library-width;
    .pl-text-field {
      box-shadow: 0 1px @gray-light;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: @brand-primary;
        position: absolute;
        top: 100%;
        left: 0;
        transform: scaleX(0);
        transform-origin: left bottom;
        transition: transform @transition-duration-medium ease-in;
      }
      &:focus {
        background-color: @shadow;
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
  .pl-timeline-layer-name .pl-text-field {
    padding-right: @padding-smaller;
  }
  .pl-timeline-layer-track {
    flex-grow: 1;
    margin: 0 @padding-small;
    position: relative;
  }
  .pl-timeline-layer-bar {
    height: @padding-base;
    border-radius: @border-radius-small;
    box-shadow: 0 1px 1px @shadow-dark;
    background-color: @gray-light;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    .pl-timeline-layer-bar-handle {
      width: 5px;
      height: 100%;
      cursor: ew-resize;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      &:last-child {
        left: 100%;
      }
    }
  }
  .pl-timeline-layer-properties {
    width: 100%;
    margin-top: @padding-small;
    padding: @padding-small 0;
    border-top: 1px solid @shadow-dark;
    border-bottom: 1px solid @shadow-dark;
    background-color: @gray-dark;
    .pl-timeline-layer-property {
      display: flex;
      &:not(:last-child) {
        margin-bottom: @padding-smaller;
      }

      .pl-control {
        font-size: @font-size-smaller;
        span {
          color: @gray-light;
        }
        .pl-text-field {
          padding-left: @padding-smaller;
          &:before {
            transform-origin: right bottom;
          }
        }
      }
      .pl-timeline-layer-property-keyframe {
        width: @font-size-smaller / 1.5;
        height: @font-size-smaller / 1.5;
        box-shadow: @box-shadow-small;
        background-color: @gray-lightest;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
