@import (reference) './sidebar';

@timeline-playhead-handle-size: 18px;
@timeline-playhead-arrow-size: @timeline-playhead-handle-size / 2;
@timeline-track-padding: 0 @padding-small;

.pl-timeline {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: @padding-smallest;
  border-top: 1px solid @gray;
  background-color: @gray-dark;
  position: relative;
  .pl-timeline-header .pl-timeline-header-status, .pl-timeline-layers {
    flex-shrink: 0;
    width: @sidebar-width;
  }
  .pl-timeline-header {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid black;
    .pl-timeline-header-status {
      display: flex;
      padding: @padding-smaller;
      border-right: 1px solid @black-faded-dark;
      font-family: @font-family-monospace;
      .pl-timeline-header-status-indicator {
        flex-grow: 1;
        margin-right: @padding-smaller;
        padding: 0 @padding-small;
        border-radius: @border-radius-small;
        box-shadow: 0 0 0 1px @black-faded-dark, inset 0 0 6px @black-faded-darker;
        font-family: @font-family-monospace;
        line-height: @padding-larger;
        background: linear-gradient(lighten(@brand-warning, 10%) 50%, @brand-warning 50%, darken(@brand-warning, 20%));
        overflow: hidden;
        position: relative;
      }
      .pl-timeline-header-status-add {
        flex-shrink: 0;
        position: relative;
        .pl-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .pl-timeline-header-track {
      flex-grow: 1;
      margin: @timeline-track-padding;
      cursor: pointer;
      position: relative;
      &:before {
        content: '';
        height: 50%;
        border-top: 1px solid @black-faded-dark;
        background-color: @gray;
        position: absolute;
        bottom: 0;
        left: @padding-small * -1;
        right: @padding-small * -1;
      }

      .pl-timeline-header-track-ticks {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: 0;
        left: 0;
        .pl-timeline-header-track-tick {
          width: 1px;
          height: 100%;
          background-color: black;
          &:last-child {
            margin-right: -1px;
          }
          &:nth-child(2n) {
            height: 25%;
          }
          &:nth-child(4n - 1) {
            height: 50%;
          }
          &:nth-child(8n - 3) {
            height: 75%;
          }
        }
      }
      .pl-timeline-header-track-playhead {
        width: @timeline-playhead-handle-size + 1;
        height: 50%;
        cursor: ew-resize;
        background-color: @brand-warning;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateX(@timeline-playhead-handle-size / -2);
        &:before {
          content: '';
          width: @timeline-playhead-handle-size + 1;
          border-top: @timeline-playhead-arrow-size solid @brand-warning;
          border-left: @timeline-playhead-arrow-size solid transparent;
          border-right: @timeline-playhead-arrow-size solid transparent;
          top: 100%;
          position: absolute;
        }
      }
    }
  }
  .pl-timeline-content {
    display: flex;
    flex-grow: 1;
    background-color: @gray-darker;
    overflow: auto;
    position: relative;
  }
  .pl-timeline-layers {
    padding-top: @padding-small;
    .pl-timeline-layer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 @padding-base;
      margin-bottom: @padding-small;
      font-size: @font-size-small;
      line-height: @padding-base;
      color: @gray-lightest;
      &.pl-selected {
        color: white;
      }
      &.pl-hidden .pl-timeline-layer-name {
        text-decoration: line-through;
        opacity: 0.5;
      }

      .pl-timeline-layer-name {
        .pl-ellipsized;
        flex-grow: 1;
      }
      .pl-timeline-layer-actions {
        flex-shrink: 0;
        .pl-timeline-layer-action {
          display: inline-block;
          vertical-align: top;
          margin-left: @padding-small;
          cursor: pointer;
          &:hover .pl-icon {
            fill: @gray-lightest;
          }

          .pl-icon {
            fill: @gray-lighter;
          }
        }
      }
    }
  }
  .pl-timeline-tracks {
    display: flex;
    min-height: 100%;
    padding: @timeline-track-padding;
    box-shadow: -1px 0 @black-faded-dark;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: @sidebar-width;
    right: 0;
    z-index: 0;
    &:before, &:after {
      content: '';
      width: @padding-small;
      height: 100%;
      background-color: fade(@gray-darker, 80%);
      position: absolute;
      top: 0;
    }
    &:before {
      left: 0;
      z-index: 1;
    }
    &:after {
      right: 0;
    }

    .pl-timeline-tracks-wrapper {
      flex-grow: 1;
      padding-top: @padding-small;
      position: relative;
      .pl-timeline-marker {
        z-index: 1;
      }
    }
    .pl-timeline-track {
      height: @padding-base;
      margin-bottom: @padding-small;
      position: relative;
      .pl-timeline-track-bar {
        height: 100%;
        border-radius: @border-radius-small;
        box-shadow: 0 1px 1px @black-faded-dark;
        background-color: @gray;
        position: absolute;
        top: 0;
        left: 0;
        &:hover {
          background-color: mix(@gray-light, @gray);
        }
        &:active, &.pl-selected {
          background-color: @gray-light;
        }
        &.pl-hidden {
          opacity: 0.5;
        }

        .pl-timeline-track-bar-handle {
          width: 5px;
          height: 100%;
          cursor: ew-resize;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%);
          &:last-child {
            left: 100%;
          }
        }
      }
    }
  }
  .pl-timeline-marker, .pl-timeline-handle {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pl-timeline-marker {
    width: 1px;
    height: 100%;
    background-color: @brand-warning;
  }
  .pl-timeline-handle {
    width: 100%;
    height: @padding-small;
    cursor: row-resize;
    transform: translateY(-50%);
  }
}
