.sv-view-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: @padding-smaller @padding-small;
  border-top: 1px solid @shadow-dark;
  color: @gray-lighter;
  .sv-view-bar-zoom {
    font-size: @font-size-small;
  }
  .sv-view-bar-align {
    display: flex;
    flex-shrink: 0;
    &:not(.pl-disabled) .sv-view-bar-align-options .sv-view-bar-align-option {
      cursor: pointer;
      &:hover {
        background-color: @shadow;
        .sv-icon {
          fill: white;
        }
      }

      .sv-icon {
        fill: @gray-lightest;
      }
    }
    .sv-view-bar-align-options {
      display: flex;
      &:not(:last-child) {
        margin-right: @padding-smaller;
        padding-right: @padding-smaller;
        border-right: 1px solid @shadow;
      }

      .sv-view-bar-align-option {
        padding: @padding-smallest;
        border-radius: @border-radius-small;
        &:not(:last-child) {
          margin-right: @padding-smallest;
        }

        .sv-icon {
          width: @padding-base;
          height: @padding-base;
          fill: @gray-light;
        }
      }
    }
  }
}
