.pl-viewport-layer {
  position: absolute;
  top: 0;
  left: 0;
  &:before, &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }
  &:after {
    top: 100%;
  }
  &:hover {
    &:before, &:after, .pl-viewport-layer-handles:before, .pl-viewport-layer-handles:after {
      background-color: fade(red, 25%);
    }
  }
  &.pl-selected {
    &:before, &:after, .pl-viewport-layer-handles:before, .pl-viewport-layer-handles:after {
      background-color: red;
    }
    .pl-viewport-layer-anchor, .pl-viewport-layer-handles .pl-viewport-layer-handle {
      display: block;
    }
  }

  img {
    display: block;
    pointer-events: none;
  }
  .pl-viewport-layer-anchor, .pl-viewport-layer-handles .pl-viewport-layer-handle {
    display: none;
  }
  .pl-viewport-layer-anchor {
    width: @padding-small;
    height: @padding-small;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    &:before, &:after {
      content: '';
      width: @padding-base;
      height: 1px;
      background-color: red;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%, -50%);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .pl-viewport-layer-handles {
    &:before, &:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }
    &:after {
      left: 100%;
    }

    .pl-viewport-layer-handle {
      width: 4px;
      height: 4px;
      background-color: red;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      &:nth-child(1), &:nth-child(3) {
        cursor: nwse-resize;
      }
      &:nth-child(2), &:nth-child(4) {
        cursor: nesw-resize;
      }
      &:nth-child(3), &:nth-child(4) {
        top: 100%;
      }
      &:nth-child(2), &:nth-child(3) {
        left: 100%;
      }
    }
  }
}
