.sv-view-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: @padding-smaller @padding-small;
  border-top: 1px solid @shadow-dark;
  .sv-view-bar-info {
    padding: @padding-smaller;
    font-size: @font-size-small;
    line-height: 1rem;
    color: @gray-lighter;
    span:not(:last-child) {
      margin-right: @padding-small;
    }
  }
  .sv-view-bar-align {
    display: flex;
    flex-shrink: 0;
    .sv-view-bar-align-options {
      display: flex;
      &:not(:last-child) {
        margin-right: @padding-smaller;
        padding-right: @padding-smaller;
        border-right: 1px solid @shadow-dark;
      }

      .sv-button {
        padding: @padding-smaller;
        &:not(:last-child) {
          margin-right: @padding-smallest;
        }

        .sv-icon {
          transform: scale(1.125);
        }
      }
    }
  }
}
