.sv-viewport-layer {
  position: absolute;
  top: 0;
  left: 0;
  &:hover .sv-viewport-layer-borders {
    opacity: 0.5;
  }
  &.sv-hidden {
    display: none;
  }
  &.sv-selected {
    .sv-viewport-layer-borders {
      opacity: 1;
    }
    .sv-viewport-layer-anchor, .sv-viewport-layer-handles {
      display: block;
    }
  }
  &[type="dummy"] {
    &:not(:hover)&:not(.sv-selected) .sv-viewport-layer-borders {
      opacity: 0.25;
    }

    .sv-viewport-layer-anchor {
      border-color: @dummy-layer-color;
      &:before, &:after {
        background-color: @dummy-layer-color;
      }
    }
    .sv-viewport-layer-borders .sv-viewport-layer-border,
    .sv-viewport-layer-handles .sv-viewport-layer-handle {
      background-color: @dummy-layer-color;
    }
  }
  &[type="text"] {
    white-space: nowrap;
    .sv-viewport-layer-anchor {
      border-color: @text-layer-color;
      &:before, &:after {
        background-color: @text-layer-color;
      }
    }
    .sv-viewport-layer-borders .sv-viewport-layer-border,
    .sv-viewport-layer-handles .sv-viewport-layer-handle {
      background-color: @text-layer-color;
    }
  }
  &[type="image"] {
    .sv-viewport-layer-anchor {
      border-color: @image-layer-color;
      &:before, &:after {
        background-color: @image-layer-color;
      }
    }
    .sv-viewport-layer-borders .sv-viewport-layer-border,
    .sv-viewport-layer-handles .sv-viewport-layer-handle {
      background-color: @image-layer-color;
    }
  }

  img {
    display: block;
    pointer-events: none;
  }
  .sv-viewport-layer-borders {
    pointer-events: none;
    opacity: 0;
    .sv-viewport-layer-border {
      box-sizing: content-box;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      &:nth-child(odd) {
        width: 100%;
        height: 1px;
        padding-left: 1px;
        transform: translate(-0.5px, -50%);
      }
      &:nth-child(even) {
        width: 1px;
        height: 100%;
        padding-top: 1px;
        transform: translate(-50%, -0.5px);
      }
      &:nth-child(3) {
        top: 100%;
      }
      &:nth-child(2) {
        left: 100%;
      }
    }
  }
  .sv-viewport-layer-anchor, .sv-viewport-layer-handles {
    display: none;
  }
  .sv-viewport-layer-anchor {
    width: @padding-small;
    height: @padding-small;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    &:before, &:after {
      content: '';
      width: @padding-base;
      height: 1px;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%, -50%);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  .sv-viewport-layer-handles .sv-viewport-layer-handle {
    width: 4px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    &:nth-child(odd) {
      cursor: nwse-resize;
    }
    &:nth-child(even) {
      cursor: nesw-resize;
    }
    &:nth-child(n + 3) {
      top: 100%;
    }
    &:nth-child(2), &:nth-child(3) {
      left: 100%;
    }
  }
}
