@import '../node_modules/planet-css/lib/main';
@import './components/button';
@import './components/icon';
@import './components/app';

@gray-dark: lighten(@gray-darker, 10%);
@white-faded: fade(white, 20%);
@white-faded-light: fade(white, 5%);

body {
  background-color: @gray-darker;
  overflow: hidden;
}

.pl-ellipsized {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
