@gray-darkest: lighten(black, 5%);
@gray-darker: lighten(black, 10%);
@gray-dark: lighten(black, 15%);
@gray: lighten(black, 20%);
@gray-light: lighten(black, 30%);
@gray-lighter: lighten(black, 45%);
@gray-lightest: lighten(black, 70%);

@black-faded: fade(black, 20%);
@black-faded-dark: fade(black, 50%);
@black-faded-darker: fade(black, 80%);
